## Frontend ignores
./frontend/node_modules
./frontend/logs
./frontend/*.log
./frontend/dist
./frontend/dist-ssr
./frontend/*.local

## General ignores
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env